﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title| BEZAO Task 4</title>
    <link rel="stylesheet" type="text/css" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/Assets/css/iofrm-theme14.css">
</head>
<body>
    <div class="container-fluid ">
        @RenderBody()
    </div>
    <script type="text/javascript" src="/Assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Assets/js/main.js"></script>
</body>
</html>