﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
<div class="row">
    <div class="form-holder">
        <div class="form-content">
            <div class="form-items">
                <div class="website-logo-inside">

                    <a href="ind">
                        <div class="logo">
                            <img class="logo-size" src="images/logo-light.svg" alt="">
                        </div>
                    </a>
                </div>
                <h3>Welcome @if (Session["UserName"] != null)
                            {
                                @Session["UserName"]
                            } To your BEZAO Landing Page.</h3>
                <p>An ASP.NET Registration And Login Site.</p>
                <div class="page-links">
                    <br />
                </div>
                <form>
                    <br />  <br /> <br /> <br />
                   
                    <div class="form-button">
                        
                        <a href="/Users/Logout" type="submit" class="ibtn">Logout</a>
                    </div>
                </form>
                <div class="other-links">
                   
                </div>
            </div>
        </div>
    </div>
</div>