﻿@model BEZA0___Task_4.Models.LoginFormModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var active = (Model.IsSelected) ? "active" : null;
}



<div class="row">
    <div class="form-holder">
        <div class="form-content">
            <div class="form-items">
                <div class="website-logo-inside">

                </div>
                <p> @Html.ValidationSummary(true, "Please fix the following   errors")</p>
                @if (Model.Message != "")
                {
                    <P style="color: red">@Model.Message</P>
                }
            
                <div class="page-links">
                    <a href="/Users/Login" class="@active">Login</a><a href="/Users/Register">Register</a>
                </div>

               
                @using (Html.BeginForm("Authenticate", "Users"))
                {

                    @Html.TextBoxFor(t => t.UserName, new { @class = "form-control", @placeholder = "UserName" })
                    @Html.ValidationMessageFor(m => m.UserName)

                    @Html.PasswordFor(t => t.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)

                    @Html.AntiForgeryToken()
                    <div class="form-button">
                        <button id="submit" type="submit" class="ibtn">Login</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>




