﻿@using System.Web.UI.WebControls
@model BEZA0___Task_4.Models.NewUserViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var active = (Model.IsSelected) ? "active" : null;
}
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="website-logo-inside">

                    </div>
                    <p> @Html.ValidationSummary(true, "Please fix the following   errors")</p>
                    @if (@Model.Message != null)
                    {
                        <p class="alert alert-danger text-dark"> @Model.Message</p>
                    }
                   
                    <div class="page-links">
                        <a href="/Users/Login">Login</a><a href="/Users/Register" class="@active">Register</a>
                    </div>
                    @using (Html.BeginForm("Create", "Users"))
                    {
                        @Html.TextBoxFor(t => t.User.FirstName, new { @class = "form-control", @placeholder = "FirstName" })
                        @Html.ValidationMessageFor(m => m.User.FirstName)
                        @Html.TextBoxFor(t => t.User.LastName, new { @class = "form-control", @placeholder = "LastName" })
                        @Html.ValidationMessageFor(m => m.User.LastName)
                        @Html.TextBoxFor(t => t.User.UserName, new { @class = "form-control", @placeholder = "UserName" })
                        @Html.ValidationMessageFor(m => m.User.UserName)
                        @Html.TextBoxFor(t => t.User.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.User.Email)
                        @Html.PasswordFor(t => t.User.Password1, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.User.Password1)
                        @Html.PasswordFor(t => t.User.Password2, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.User.Password2)
                        @Html.AntiForgeryToken()

                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Register</button>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>


